{% if title %}
  <span class="thin dimmed medium">
    {% if titleType == 'text' %}
      {{ title }}
    {% else %}
      {{ title | safe }}
    {% endif %}
  </span>
  {% if message %}<br />{% endif %}
{% endif %}

{% if message %}
  {% set parts = message.split(" ") %}
  {% set imageShown = false %}

  {% for part in parts %}
    {% if not imageShown and part.indexOf("http") === 0 %}
      <img src="{{ part }}" height="500px" style="margin-bottom: 10px" />
      {% set imageShown = true %}
    {% endif %}
  {% endfor %}

  {% if not imageShown %}
    <span class="light bright small">
      {% if messageType == 'text' %}
        {{ message }}
      {% else %}
        {{ message | safe }}
      {% endif %}
    </span>
  {% endif %}
{% endif %}
